.Owner {
    font-weight: bold;
    color: #024873;
    margin-right: 8px;
}

.Date {
    font-weight: lighter;
    color: #011526;
}
.ImageContainer {
  max-width: 10%;
  height: auto;
  margin-top: 10px;
}

.CommentImage {
  max-width: 40%;
    height: auto;
    margin-top: 10px;
}

