.Post {
    background-color: #ffffff;
    border: 1px solid #9797d5;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  /* Donate card */
  .CollageContainer {
    display: flex;
    overflow-x: auto; 
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
    padding: 20px; 
    width: fit-content; 
  }
  
  .CollageImageContainer {
    flex: 0 0 auto; 
    width: 200px; 
    height: 200px;
  }
  
  .Cards {
    background-color: #f5f5f5;
  }
  .subtitleColor {
    color: #7C96A6;
  }
  