.Post {
    background-color: #ffffff;
    border: 1px solid #9797d5;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h3 {
    margin: 0 0;
  }
.PostBar {
  color: #011526;
  font-size: 1rem;
}
