.Container {
  min-height: 343px;
  background-color: #D9D8D2;
  border-radius: 10px;
}
.CollageContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.CollageImageContainer {
  width: 33.33%;
  min-height: 120px;
}