.Post {
    background-color: #ffffff;
    border: 1px solid #9797d5;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .CollageContainer {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    gap: 5px; /* Add gap between images */
    padding: 20px; /* Add padding to prevent overflow */
    width: fit-content; /* Adjust the width to fit the content */
  }
  
  .CollageImageContainer {
    flex: 0 0 auto; /* Prevent images from shrinking */
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
  }
  
  .Cards {
    background-color: #f5f5f5;
  }
  .subtitleColor {
    color: #7C96A6;
  }
  