.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 999;
}

.scrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #C5D3D9;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scrollButton:hover {
  background-color: #A9C0C8;
}
.scrollButton i {
  color: #011526;
  font-size: 20px;
}

/* media query max-width 360*/
@media (max-width: 360px) {
  .scrollButton {
    display: none;
    
  }
}
