/*FOR ADDING ALL CSS STYLES YOU WANT TO APLLY TO YOUR WHOLE SITE*/

.App {
    font-family: "Roboto&family", sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}
.Main {
  padding-top: 80px;
}

* {
    box-sizing: border-box;
  }
  
  a {
    color: #BF8C6F;
    transition: color ease-in-out 0.3s;
    text-decoration: none;

  }
  
  a:hover {
    text-decoration: none;
    color: #D9D8D2;
  }
  
  a:hover i {
    color: #7C96A6;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #D9D8D2;
    font-size: 1.8rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #D9D8D2;
  }
  
  figure {
    text-align: center;
    display: inline-block;
  }
  
  /* scrollbar */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }